:root {
  --branding-color: #daebee;
  --accent-color: #ff5125;
  --accent-color-2: #b7d7de;
  --accent-color-3: #fcedda;
  --heading-font-family: "Playfair Display", serif;
  --deafult-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--deafult-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h2 {
  font-size: 64px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background: var(--branding-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  margin: 0;
}

.hero h1 {
  font-size: 96px;
}

.hero h2 {
  font-family: var(--deafult-font-family);
  font-weight: lighter;
  font-size: 24px;
  line-height: 10px;
}

.content-container {
  padding: 160px 20px;
}

.content {
  margin: 30px;
}
.content h1 {
  font-size: 60px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--deafult-font-family);
}

.content h3 {
  font-size: 24px;
  font-family: var(--deafult-font-family);
  line-height: 1.5;
  margin: 20px 0 0;
}
.content p {
  font-size: 14px;
}
.profile-img {
  border-radius: 10px;
  max-width: 400px;
}

.btn-branding {
  border-radius: 4px;
  background: var(--accent-color);
  color: white;
  font-size: 18px;
  margin: 10px 15px;
  padding: 15px 30px;
}

.btn-branding-outline {
  background: var(--branding-color);
  border: 5px solid var(--accent-color);
  border-radius: 4px;
  color: black;
  font-size: 18px;
  padding: 15px 30px;
}

.project-container {
  margin-top: 35px;
}

.project-description {
  padding: 30px 50px;
}
.project-image {
  border: 1px solid lightgray;
}

.img-branding {
  padding: 30px 15px;
}
.img-branding-container {
  border-radius: 10px;
  background-color: var(--branding-color);
}
.contact-info {
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  background-color: var(--accent-color);
  color: white;
}

.contact-info h3 {
  color: white;
}

.contact-info a {
  text-decoration: none;
  color: white;
}
.contact-info a:hover {
  text-decoration: underline;
}
.header-accent-red {
  background-color: #ff5125;
  border-radius: 10px;
  color: white;
  padding: 50px;
}
@media (max-width: 900px) {
  h2 {
    font-size: 40px;
  }
  p {
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .hero {
    background: var(--branding-color);
    text-align: center;
    padding: 80px 10px;
  }

  .hero p {
    font-size: 25px;
    margin: 0;
  }

  .hero h1 {
    font-size: 60px;
  }

  .hero h2 {
    font-family: var(--deafult-font-family);
    font-weight: lighter;
    font-size: 15px;
    line-height: 10px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  .btn-branding {
    border-radius: 4px;
    background: var(--accent-color);
    color: white;
    font-size: 15px;
    margin: 5px 7px;
    padding: 10px 20px;
  }

  .btn-branding-outline {
    background: var(--branding-color);
    border: 5px solid var(--accent-color);
    border-radius: 4px;
    color: black;
    font-size: 15px;
    padding: 10px 20px;
  }
}
